rvm:
  - 1.8.7
  - ree
  - 1.9.2
  - 1.9.3
  - jruby-18mode
  - jruby-19mode
  - jruby-head
  - rbx-18mode
  - rbx-19mode

script: "bundle exec rake --trace"

notifications:
  recipients:
    - nahi@ruby-lang.org
